body{
    background-image: url("photo.jpg") ;
    height: 100vh;
    background-size: cover;
}
#myCanvas{
    margin-top: 50px;
    border: 2px;
    border-color: gray;
    border-style: solid;
    background-color: white;
}
#clear{
    background-image: url("reset.jpg");
    width: 48px;
    height: 48px;
    background-size: cover;
    border: 1px;
    border-color: gray;
    border-style: solid;
}
#pencil{
    background-image: url("pencil.jpg");
    width: 48px;
    height: 48px;
    background-size: cover;
    border: 1px;
    border-color: gray;
    border-style: solid;
    margin-bottom: 0px;
}
#eraser{
    background-image: url("eraser.jpg");
    margin-top: 0px;
    width: 48px;
    height: 48px;
    background-size: cover;
    border: 1px;
    border-color: gray;
    border-style: solid;
}
#word{
    background-image: url("word.jpg");
    margin-top: 0px;
    width: 48px;
    height: 48px;
    background-size: cover;
    border: 1px;
    border-color: gray;
    border-style: solid;
}
#myColor{
    width: 48px;
    height: 48px;
    border: 1px;
    border-color: gray;
    border-style: solid;
    background-color: rgb(233, 235, 214);
}
#undo{
    background-image: url("undo.jpg");
    margin-top: 0px;
    width: 48px;
    height: 48px;
    background-size: cover;
    border: 1px;
    border-color: gray;
    border-style: solid;
}
#redo{
    background-image: url("redo.jpg");
    margin-top: 0px;
    width: 48px;
    height: 48px;
    background-size: cover;
    border: 1px;
    border-color: gray;
    border-style: solid;
}
#rectangle{
    background-image: url("rectangle.png");
    margin-top: 0px;
    width: 48px;
    height: 48px;
    background-size: cover;
    border: 1px;
    border-color: gray;
    border-style: solid;
    margin-top: 5.5px;
}
#circle{
    background-image: url("circle.png");
    margin-top: 0px;
    width: 48px;
    height: 48px;
    background-size: cover;
    border: 1px;
    border-color: gray;
    border-style: solid;
}
#triangle{
    background-image: url("triangle.png");
    margin-top: 0px;
    width: 48px;
    height: 48px;
    background-size: cover;
    border: 1px;
    border-color: gray;
    border-style: solid;
}
#upload{
    background-image: url("upload.jpg");
    margin-top: 0px;
    margin-bottom: 0px;
    width: 48px;
    height: 46px;
    background-size: cover;
    border: 1px;
    border-color: gray;
    border-style: solid;
}
#download{
    background-image: url("download.png");
    margin-top: 0px;
    width: 48px;
    height: 46px;
    background-size: cover;
    border: 1px;
    border-color: gray;
    border-style: solid;
}